html{ 
  background-color: black;
}

img{
  opacity: 1;
}


nav {
  background-color: black;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.row-centered{
  background-color: black;
  padding: 0px;
  margin: 0px;
     padding: 0 !important;
   margin: 0 !important;
}

.row{
   padding: 0 !important;
   margin: 0 !important;
}

.image-text{
  font-size: 6em;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
  top: 150px;
  background-color: transparent;
  color: white;
  font-family: Avenir,Arial;
}

.HomeButton {
  text-align: center;
  background: transparent;
  font-weight: 600;
  position: relative;
  vertical-align: middle;
  top: 0px;
  background-color: transparent: !important;
  color: white;
  font-family: Avenir,Arial;
}

.row-centered {
    text-align:center;
    background-color: black;
    padding: 0 !important;
   margin: 0 !important;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    background-color: black;
    padding: 0 !important;
   	margin: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}


.col-xs-4 {
    height: 150px;
    background-color: #191919;
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
    color: white;
}

.projects {
    background-color: #303030;
    font-family: Avenir, Arial;
    color: white;
}

.row-bottom {
	background-color: black;
	color:white;
	font-family: Avenir, Arial;
	text-align:left; 
}
