html{
 
  background-color: gray;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

 .giantPic{

background-color: black;
color: white;
font-family: Avenir,Arial;
 }